<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ActiveCollab Forecast App</title>
  </head>

  <body>
    <noscript>
      <strong>We're sorry but ac-forecast-app doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <section class="section">
      <div id="app"></div>
    </section>
    <!-- built files will be auto injected -->
  </body>

</html>
