<template>
  <div class="container is-fluid timeline">
    <div class="controls">
      <h1 class="title">ActiveCollab Forecast</h1>
      <hr />
      <h2 v-if="!hasData" class="subtitle">
        Loading data from ActiveCollab...
      </h2>
      <div v-else>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <tags-input
                  :add-tags-on-comma="true"
                  :existing-tags="projectLabels"
                  :only-existing-tags="true"
                  :typeahead="true"
                  element-id="includeProjectLabels"
                  placeholder="Add project labels to include in the forecast"
                  typeahead-style="badges"
                  v-model="filters.includeProjectLabels"
                  wrapper-class="input"
                />
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded">
                <tags-input
                  :typeahead="true"
                  element-id="includeTaskLists"
                  placeholder="Add task lists to include in the forecast"
                  typeahead-style="badges"
                  v-model="filters.includeTaskLists"
                  wrapper-class="input"
                />
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded">
                <tags-input
                  :typeahead="true"
                  element-id="excludeTasks"
                  placeholder="Add task names to exclude from the forecast"
                  typeahead-style="badges"
                  v-model="filters.excludeTasks"
                  wrapper-class="input"
                />
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control is-fullwidth select">
                <select v-model="chart.type" v-on:change="updateChartData">
                  <option disabled value>Chart type</option>
                  <option value="Calendar">calendar</option>
                  <option selected value="Timeline">timeline</option>
                </select>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded">
                <input
                  class="input"
                  max="12"
                  min="0"
                  placeholder="Task due in the past # months"
                  type="number"
                  v-model.number="filters.dueAfter"
                />
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded">
                <input
                  class="input"
                  max="24"
                  min="0"
                  placeholder="Task due in the coming # months"
                  type="number"
                  v-model.number="filters.dueBefore"
                />
              </p>
            </div>
            <div class="field">
              <p class="control is-fullwidth select">
                <select v-model="filters.teamId" v-on:change="updateChartData">
                  <option disabled value>Team</option>
                  <option
                    v-for="team in ac.teams"
                    :key="team.id"
                    :value="team.id"
                    >{{ team.name }}</option
                  >
                </select>
              </p>
            </div>
            <div class="field">
              <p class="control is-fullwidth select">
                <select v-model="filters.groupBy" v-on:change="updateChartData">
                  <option disabled value>Group by</option>
                  <option>projects</option>
                  <option>assignee</option>
                </select>
              </p>
            </div>
            <div class="field">
              <p class="control is-fullwidth select">
                <select
                  v-model.number="filters.sortBy"
                  v-on:change="updateChartData"
                >
                  <option disabled value>Sort by</option>
                  <option value="0">name</option>
                  <option value="1">task</option>
                  <option value="2">start date</option>
                  <option value="3">due date</option>
                </select>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button
                  class="button is-fullwidth is-primary"
                  :disabled="!hasData"
                  v-on:click="updateChartData"
                >
                  Build chart
                </button>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button
                  class="button is-fullwidth is-outlined is-primary"
                  :disabled="!hasData"
                  v-on:click="getData"
                >
                  Fetch new data from ActiveCollab
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div v-if="hasData && isChartReady" class="chart">
      <h2 class="title">{{ chart.type }}</h2>
      <h3 class="subtitle">
        <span>Visualising </span>
        <strong v-if="chart.type === 'Timeline'"
          >{{ numberOfTasks }} tasks due</strong
        >
        <strong v-else>task activity</strong>
        <span> between </span>
        <strong>{{ dueAferDate }}</strong>
        <span> and </span>
        <strong>{{ dueBeforeDate }}</strong>
        <span>, assigned to the </span>
        <strong>{{ getTeam(filters.teamId).name }}</strong>
        <span> team, grouped by </span>
        <strong>{{ filters.groupBy }}</strong>
        <span> and sorted by </span>
        <strong>{{ filters.sortBy }}</strong>
      </h3>
      <gchart
        :data="chart.data"
        :options="chart.options"
        :settings="{ packages: ['calendar', 'timeline'] }"
        :type="chart.type"
      />
    </div>
  </div>
</template>

<script>
import {
  getLabels,
  getProjects,
  getTasks,
  getTeams,
  getUsers
} from '@/services/activecollab.js'
import { handleError } from '@/utils.js'

const INCLUDE_PROJECT_LABELS = [
  { key: 79, value: 'pre-project' },
  { key: 75, value: 'feasibility' },
  { key: 77, value: 'foundations' },
  { key: 76, value: 'evolutionary development' },
  { key: 80, value: 'deployment' }
]

const INCLUDE_TASK_LISTS = [
  { key: 'inbox', value: 'inbox' },
  { key: 'to do', value: 'to do' },
  { key: 'in progress', value: 'in progress' }
]

const EXCLUDE_TASKS = [
  { key: 'categorise project size', value: 'categorise project size' },
  { key: 'check project status', value: 'check project status' },
  { key: 'contact re end of sla', value: 'contact re end of sla' },
  { key: 'invoice', value: 'invoice' },
  { key: 'journal', value: 'journal' }
]

export default {
  name: 'AcForecast',
  computed: {
    dueAferDate() {
      return this.addMonthsToDate(
        new Date(),
        -1 * this.filters.dueAfter
      ).toLocaleDateString()
    },
    dueBeforeDate() {
      return this.addMonthsToDate(
        new Date(),
        this.filters.dueBefore
      ).toLocaleDateString()
    },
    hasData() {
      return this.ac.tasks.length > 0
    },
    isChartReady() {
      return this.chart.data.length > 0
    },
    numberOfTasks() {
      return this.chart.data.length - 1
    },
    projectLabels() {
      let pl = []
      this.ac.projectLabels.forEach((v, k) =>
        pl.push({ key: k, value: v.toLowerCase() })
      )
      return pl
    }
  },
  created: function() {
    this.getData()
  },
  data: () => {
    return {
      // ActiveCollab data
      ac: {
        projectLabels: new Map(),
        projects: [],
        tasks: [],
        teams: [],
        users: []
      },
      // chart data
      chart: {
        data: [],
        options: {
          calendar: { cellSize: 20 },
          timeline: { colorByRowLabel: true },
          tooltip: { isHtml: true }
        },
        type: 'Timeline'
      },
      // filters
      filters: {
        dueAfter: 3,
        dueBefore: 9,
        groupBy: 'projects',
        includeProjectLabels: INCLUDE_PROJECT_LABELS,
        includeTaskLists: INCLUDE_TASK_LISTS,
        excludeTasks: EXCLUDE_TASKS,
        sortBy: 0,
        teamId: 2
      }
    }
  },
  methods: {
    getData() {
      this.ac.tasks = []

      getLabels()
        .then(data => (this.ac.projectLabels = data))
        .catch(error => handleError(error))
      getProjects()
        .then(data => (this.ac.projects = data))
        .catch(error => handleError(error))
      getUsers()
        .then(data => (this.ac.users = data))
        .catch(error => handleError(error))
      getTeams()
        .then(data => (this.ac.teams = data))
        .catch(error => handleError(error))
      getTasks()
        .then(data => (this.ac.tasks = data))
        .catch(error => handleError(error))
    },
    updateChartData() {
      if (!this.hasData) {
        handleError('No tasks from ActiveCollab')
        return
      }

      const now = new Date()
      const dueAfter = this.addMonthsToDate(now, -1 * this.filters.dueAfter)
      // FIXME: there is an issue here, the first time this executes it adds
      // properly, subsequent times it seems to add a random number
      const dueBefore = this.addMonthsToDate(now, this.filters.dueBefore)

      const team = this.getTeam(this.filters.teamId)

      const filteredTasks = this.filterTasks(
        this.ac.tasks,
        dueAfter,
        dueBefore,
        this.filters.includeProjectLabels,
        this.filters.includeTaskLists,
        this.filters.excludeTasks,
        team
      )

      let chartData = this.getDataTable(filteredTasks)

      chartData.sort((a, b) => {
        if (a[this.filters.sortBy] < b[this.filters.sortBy]) return -1
        if (a[this.filters.sortBy] > b[this.filters.sortBy]) return 1
        return 0
      })

      if (this.chart.type.toLowerCase() == 'calendar') {
        let calendar = new Map()
        chartData.forEach(item => {
          for (let d = item[2]; d <= item[3]; d.setDate(d.getDate() + 1)) {
            const key = d.getTime()
            const task = `${item[0]}: ${item[1]}`

            if (!calendar.has(key)) {
              calendar.set(key, { n: 1, tasks: [task] })
            } else {
              const obj = calendar.get(key)
              obj.n += 1
              obj.tasks.push(task)
              calendar.set(key, obj)
            }
          }
        })

        chartData = []
        chartData.push([
          { type: 'date', label: 'date' },
          { type: 'number', label: 'number of tasks' },
          { type: 'string', role: 'tooltip', p: { html: true } }
        ])

        calendar.forEach((v, k) =>
          chartData.push([new Date(k), v.n, v.tasks.sort().join('<br>')])
        )

        this.chart.options.calendar.cellSize = this.getCalendarCellSize()
      } else {
        chartData.splice(0, 0, [
          { type: 'string', id: 'Name' },
          { type: 'string', id: 'Task' },
          { type: 'date', id: 'Start' },
          { type: 'date', id: 'End' }
        ])
      }

      this.chart.data = chartData
      this.chart.options.height = this.getChartHeight()
    },
    addMonthsToDate(date, months) {
      return new Date(date.setMonth(date.getMonth() + months))
    },
    getProjectLabel(id) {
      const project = this.getProject(id)
      return this.getLabel(project.label_id)
    },
    getTeam(id) {
      return this.ac.teams.filter(t => t.id === id)[0]
    },
    filterTasks(
      tasks,
      dueAfter,
      dueBefore,
      includeProjectLabels,
      includeTaskLists,
      excludeTasks,
      team
    ) {
      return tasks
        .filter(t => t.due_on !== null)
        .filter(t => {
          const dueOn = new Date(t.due_on * 1000)
          return dueOn >= dueAfter && dueOn <= dueBefore
        })
        .filter(t =>
          includeProjectLabels
            .map(v => v.key)
            .includes(this.getProject(t.project_id).label_id)
        )
        .filter(t =>
          includeTaskLists
            .map(v => v.value.toLowerCase())
            .includes(t.task_list.toLowerCase())
        )
        .filter(
          t =>
            !excludeTasks
              .map(v => v.value.toLowerCase())
              .includes(t.name.trim().toLowerCase())
        )
        .filter(
          t => t.assignee_id === 0 || team.members.includes(t.assignee_id)
        )
    },
    getDataTable(tasks) {
      let data = []

      tasks.forEach(t => {
        const assignee = this.getUser(t.assignee_id)
        const project = this.getProject(t.project_id)
        const leader = this.getUser(project.leader_id)

        const projectInfo = `${this.getLabel(project.label_id).substring(
          0,
          3
        )}: ${project.name}, lead by ${leader}`

        const task = t.name

        const name =
          this.filters.groupBy === 'projects' ? projectInfo : assignee
        const desc =
          this.filters.groupBy === 'projects'
            ? `${assignee}: ${task}`
            : `${projectInfo}: ${task}`

        let start = this.getTaskStart(t)
        const end = new Date(t.due_on * 1000)

        const timeLeft = this.getDaysLeft(t)
        if (timeLeft > 0) start.setDate(end.getDate() - timeLeft)

        if (start > end) start = end

        data.push([name, desc, start, end])
      })

      return data
    },
    getLabel(id) {
      if (!this.ac.projectLabels.has(id)) return `Label ${id}  not found!`

      return this.ac.projectLabels.get(id)
    },
    getUser(id) {
      if (!this.ac.users.has(id)) return `User ${id} not found!`

      return this.ac.users.get(id)
    },
    getProject(id) {
      if (!this.ac.projects.has(id)) return `Project ${id}  not found!`

      return this.ac.projects.get(id)
    },
    getTaskStart(task) {
      const start =
        task.start_on !== null && task.start_on !== task.due_on
          ? task.start_on
          : task.due_on
      return new Date(start * 1000)
    },
    getDaysLeft(task) {
      let timeLeft = task.estimated_time

      if (task.tracked_time !== null) timeLeft -= task.tracked_time

      return Math.abs(timeLeft) / 7
    },
    getCalendarCellSize() {
      return screen.width / 62
    },
    getChartHeight() {
      return screen.height - 475
    }
  }
}
</script>
